@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  outline: none;
  min-height: 80px;
  padding: 0.5rem;
}

.tiptap p {
  margin: 0;
}

/* Estilos para el contenido del editor */
.ProseMirror {
  min-height: 100px;
  padding: 0.5rem;
  outline: none;
}

.ProseMirror p {
  margin-bottom: 0.5rem;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror u {
  text-decoration: underline;
}

.ProseMirror s {
  text-decoration: line-through;
}